@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    user-select: auto;
    
}
html{
    color: var(--cor-texto-principal);
}
:root{
    /*CORES:*/
    --cor-primaria: #10B981; 
    --cor-verde-escuro: #047857;/*Footer, 1ª posição, etc*/
    --cor-verdePastel: #E1FFEA;/*hover, toques suaves com verde*/
    --cor-fundo-claro: #F9FAFB;
    --cor-texto-principal: #182d4b;/*Títulos, textos importantes*/
    --cor-texto-secundario: #6B7280;
    --cor-borda:#6b7280a6;
    --cor-erro: #EF4444;
    --cor-verdeClaro: #7aecb2;/*Bordas com hover*/
    --cor-amarelo: #FFE101;/*Fila demorada*/
    --cor-verdeAmarelo: #ADFF2F;/*Posição próxima*/
    --cor-branco: #FFFFFF;
    --cor-hoverBtn1: #26da9e;
    
    /*SOMBRA*/
    --sombra: 4px 4px 4px rgba(0, 0, 0, 0.291);
    
}
