/*CONTAINER, ALINHAMENTO, aqui fica a organização estrutural da interface*/

.titulo {
  font-size: 24px;
  line-height: 30px;
  
}
.tituloBold{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.subTitulo {
  font-size: 20px;
  line-height: 24px;
  
}
.destaque{
  font-weight: bold;
  color: var(--cor-verde-escuro);
}
/*Tem no HOME*/
.itemsSectionBig {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: auto;
  gap: 20px;
}
.itemsSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.itemsSectionFila{
  display: flex;
  flex-direction: column;
  width: 100%;
 
  margin: auto;
  gap: 20px;
}
/*INPUTS*/
input {
  font-size: 14px;
  width: 100%;
  outline: 1.5px solid var(--cor-borda);
  border-radius: 10px;
  padding: 10px 20px 10px 40px;
}
input:focus {
  outline: 1.5px solid var(--cor-primaria);
}