/*CONTAINER, ALINHAMENTO, aqui fica a organização estrutural da interface*/
.container{
    max-width: 1200px;
    margin:  auto;
}
.titulo {
  font-size: 24px;
  line-height: 30px;
  
}
.subTitulo {
  font-size: 20px;
  line-height: 24px;
  
}
/*Tem no HOME*/
.itemsSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/*INPUTS*/
input {
  font-size: 14px;
  width: 100%;
  outline: 1.5px solid var(--cor-borda);
  border-radius: 10px;
  padding: 10px 20px 10px 40px;
}
input:focus {
  outline: 1.5px solid var(--cor-primaria);
}