/* CORES, FONTES, ESPACAMENTOS*/

:root {
  /*CORES:*/
  --cor-primaria: #10b981;
  --cor-verde-escuro: #047857; /*Footer, 1ª posição, etc*/
  --cor-verdePastel: #d6f5df; /*selecionado toques suaves com verde*/
  --corHover: #dddddd;
  --corHoverTexto: #787878;
  --cor-fundo-claro: #f9fafb;
  --cor-texto-principal: #182d4b; /*Títulos, textos importantes*/
  --cor-texto-secundario: #6b7280;
  --cor-linha: #6b728071;
  --cor-borda: #6b7280a6;
  --cor-erro: #ef4444;
  --cor-verdeClaro: #7aecb2; /*Bordas com hover*/
  --cor-amarelo: #ffe101; /*Fila demorada*/
  --cor-verdeAmarelo: #adff2f; /*Posição próxima*/
  --cor-branco: #ffffff;
  --cor-hoverBtn1: #26da9e;

   /* BREAKPOINTS */
  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-desktop: 1024px;

  /*TAMANHOS*/
  --espaco-pequeno: 5px;
  --espaco-medio: 10px;
  --espaco-grande: 20px;

  --radius: 8px;
  --transicao: all 0.3s ease;
}
